@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&family=Special+Elite&display=swap');

body {
  background-image: url("pictures/fire.jpg");
  background-repeat: repeat;
}

header {
  background-color: red;;
  border: groove;
  border-color: black;
  text-align: center;
  font-size: 3vw;
}

header img {
  max-height: 250px;
}

main {
  background-color: black;
  color: crimson;
}

h1, label {
  font-family: 'Special Elite', cursive;
}
h1 {
  font-size: 5vw;
}

p, i, button, h2 {
  font-family: 'Grenze Gotisch', cursive;
}